*{
  border: 0;
  outline: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  width: 0;
  transition: width 2s;
  color: transparent;
  background-color: #fff;
}

section div {
  margin-left: 30px;
  margin-top: 30px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

section div img {
  width: 200px;
  height:200px;
  border-radius: 50%;
  display: none;
  margin-bottom: 40px;
}

section a {
  text-decoration: none;
  color: transparent;
}

section a+a{
  margin-top: 10px;
}

section a+h2 {
  margin-top: 30px;
}
section div p+p {
  margin-top:20px;
  text-align: justify;
}

section div h2+p{
  margin-top: 30px;
}

section div h2+img {
  margin-top: 30px;
}


section div p+h2 {
  margin-top: 40px;
}


body {
  background: #003249;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;

}
body, input, button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
h1,h2,h3,h4,h5,h6,strong {
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

div#table {
  margin-left: 150px;
  height: 100vh;
  background: url(assets/laptop-desk.png) no-repeat left;
  background-size: initial;
  overflow: none;
  padding-top: 50px;
  display: flex;
  align-items: stretch;
}

div#book{
  margin-left: 80px;
  position: relative;
  background-color: #0D1821;
  height: 90%;
}

div#pageInternal {
  height: 100%;
  width: 100%;
  background-color: #fff;
  margin-left: 10px;
  margin-top: -10px;
  padding-bottom: 10px;
}

div#frontPage {
  height: 100%;
  width: 100%;
  margin-left: -10px;
  background-color: #0D1821;
  display: flex;
  flex-direction: column;
}

div#frontPage strong {
  margin-left:90px;
  margin-top: 50px;
  font-size: 40px;
}



div#book img {
  margin-top: 80px;
  margin-left: 80px;
  border-radius: 50%;
  margin-right: 350px;
}
@media screen and (max-width: 1577px){
  div#table{
    margin-left:0;
  }
}

@media screen and (max-width: 1430px){
  div#book{
    margin-left:0;
  }
}

@media screen and (max-width: 1330px){
  div#book img{
    margin-left:0;
  }
  div#frontPage strong {
    margin-left:0px;
  }
}

@media screen and (max-width: 1263px){

  div#book {
    width: 350px;
  }
  div#book img{
    display: none;
  }

  div#frontPage strong {
    display: none;
  }
}

@media screen and (max-width: 1063px){

  div#book {
    width: 30px;
  }
}



div#content {
  max-width: 700px;
  flex:1;
  display: flex;
  height: 90%;
  margin-left: 2px;
  
}

div#tabs {
  display:grid;
  grid-gap: 5px;
  width: 50px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.fullpage {
  width: 50px;
  height: 100%;
}

.pageOpen img {
  display: block;
}

.pageOpen a {
  color: #0D1821;
  transition: color 0.2s;
}

.pageOpen a:hover {
  color: #2c506d;
}




.pageOpen {
  display: block;
  flex: 1;
  width: 100%;
  transition: all 2s;
  color: #0D1821;
  overflow: auto;
}

.tab {
  background-color: #fff;
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  border-left: 1px solid  #0D1821;
}


.tab h2 {
  writing-mode: vertical-lr;
  color:  #0D1821;
}

#portfolioTab {
  grid-row:4;
}

#profileTab {
  grid-row: 1;
}

#educationTab {
  grid-row: 3;
}

#experienceTab {
  grid-row: 2;
}